* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: #122a3d;
    font-family: "poppins", sans-serif;
  }
  
  .logo {
    color: rgb(240, 240, 240);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }
  
  .logo a {
    color: rgb(240, 240, 240);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    z-index: 1;
  }
  .nav-links li {
    list-style: none;
  }
  .nav-links a {
    color: rgb(240, 240, 240);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .burger {
    display: none;
    cursor: pointer;
    z-index: 1;
  }
  .burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(240, 240, 240);
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  @media screen and (min-width: 769px) {
    .nav-links a {
      align-self: auto;
      letter-spacing: 3px;
      padding: 9px 25px; 
    }

    .nav-links a:hover{
        cursor: pointer;
        transition: 0.5s ease 0s;
    }
    .host a{
      padding: 9px 100px;
    }
    .linktohost{
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    .nav-links {
      width: 60%;
    }
  }
  
  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    .nav-links {
      position: fixed;
      right: 0;
      height: 100vh;
      top: 0;
      background-color: #122a3d;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 48%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      text-align: center;
      padding-bottom: 20px;
    }
    .nav-links li {
      opacity: 0;
    }
    .burger {
      display: block;
    }
    .host a{
      padding: 9px 50px;
    }
  }
  
  .nav-active {
    transform: translateX(0%);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .content {
    flex: 1 0 auto;
    padding: 20px;
    font-family: "poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .host{
    color: #122a3d;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
  .host a {
    color: #122a3d;
    align-self: auto;
    border: 1px solid  #a1865b;
    border-radius: 50px;
    letter-spacing: 3px;
    text-decoration: none;
  }

  .host a:hover{
      background-color: #a1865b;
      cursor: pointer;
      transition: 0.5s ease 0s;
  }
  
  .footer {
    flex-shrink: 0;
    min-height: 15vh;
    background: #122a3d;
    font-family: "poppins", sans-serif;
  }
  .footer .footer-content {
    display: flex;
    padding: 7vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(240, 240, 240);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
  }
  
  /* CSS for background video is adapted from
   https://redstapler.co/responsive-css-video-background/
 */

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media(min-aspect-ratio: 16/9) {
.fullscreen_video {
  height: 120%;
  top: 0%;
}
.bg-image{
  display: none;
}
}

@media (min-width: 1024px) {
  .bg-image{
    display: none;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .fullscreen_video {
    height: 70vh;
    width: auto;
    left: -30%;
    top: 15%;
  }
  .bg-image{
    display: none;
  }
}

@media (max-width: 768px) {
  .fullscreen_video {
      display: none;
  }
  .bg-image{
    position: fixed;
    top: 15vh;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    height: 70vh;
    width: auto;
  }
}

@media (max-width: 415px) {
  .fullscreen_video {
      display: none;
  }
  .bg-image{
    position: fixed;
    top: 15vh;
    right: 0;
    bottom: 0;
    left: -28%;
    overflow: hidden;
    z-index: -100;
    height: 70vh;
    width: auto;
  }
}
