* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: radial-gradient(ellipse at bottom, #1a2737 0%,#09090a 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: rgb(240, 240, 240);
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: #122a3d;
    font-family: "poppins", sans-serif;
  }
  
  .logo {
    color: rgb(240, 240, 240);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }
  
  .logo a {
    color: rgb(240, 240, 240);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 20px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    z-index: 1;
  }
  .nav-links li {
    list-style: none;
  }
  .nav-links a {
    color: rgb(240, 240, 240);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;

    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .burger {
    display: none;
    cursor: pointer;
    z-index: 1;
  }
  .burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(240, 240, 240);
    margin: 5px;
    transition: all 0.3s ease;
  }
  
  @media screen and (min-width: 769px) {
    .nav-links a {
      align-self: auto;
      letter-spacing: 3px;
      padding: 9px 25px; 
    }

    .nav-links a:hover{
        cursor: pointer;
        transition: 0.5s ease 0s;
    }
    .host a{
      padding: 9px 100px;
    }
    .linktohost{
      display: none;
    }
  }

  @media screen and (max-width: 1024px) {
    .nav-links {
      width: 60%;
    }
  }
  
  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    .nav-links {
      position: fixed;
      right: 0;
      height: 100vh;
      top: 0;
      background-color: #122a3d;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 48%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      text-align: center;
      padding-bottom: 20px;
    }
    .nav-links li {
      opacity: 0;
    }
    .burger {
      display: block;
    }
    .host a{
      padding: 9px 50px;
    }
  }
  
  .nav-active {
    transform: translateX(0%);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .content {
    flex: 1 0 auto;
    padding: 20px;
    font-family: "poppins", sans-serif;
    display: inline;
    justify-content: center;
    /* align-items: center; */
    /* text-align: center; */
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 3px;
  }
  .heading{
    font-size: 24px;
    text-align: center;
  }
  
  .footer {
    flex-shrink: 0;
    min-height: 15vh;
    background: #122a3d;
    font-family: "poppins", sans-serif;
  }
  .footer .footer-content {
    display: flex;
    padding: 7vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(240, 240, 240);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
  }

  .heading button {
    font-family: "poppins", sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    background-color: transparent;
    color: rgb(240, 240, 240);
    align-self: auto;
    border: 1px solid  #a1865b;
    border-radius: 50px;
    letter-spacing: 3px;
    padding: 9px 40px;
    text-decoration: none;
    outline: none;
  }

  .heading button:hover{
      background-color: #a1865b;
      cursor: pointer;
      transition: 0.5s ease 0s;
  }

  .general{
    padding: 5vh;
    text-align: center;
    margin-top: 1vh;
    display: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 20px;
  }
  .feedback{
    padding: 5vh;
    text-align: center;
    margin-top: 1vh;
    display: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 20px;
  }
  .hidden{
    display: none;
  }

  .form{
    flex: 1 0 auto;
    width: 100%;
    margin: 0 auto;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(190, 190, 190);
    font-family: "poppins", sans-serif;
  }
  .form h3{
    margin-top: 0;
    font-weight: 200;
    color: rgb(240, 240, 240);
  }
  .form h4{
    margin-top: 0;
    font-weight: 200;
    color: rgb(240, 240, 240);
  }
  .form label{
    display: block;
    text-align: left;
    color: rgb(240, 240, 240);
    font-size: 14px;
  }
  .textarea
  {
    color: rgb(240, 240, 240);
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(240, 240, 240);;
    outline: none;
    background: transparent;
  }
  .submitGen,.submitFeed {
    font-family: "poppins", sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    background-color: transparent;
    color: rgb(240, 240, 240);
    align-self: auto;
    border: 1px solid  #a1865b;
    border-radius: 50px;
    letter-spacing: 3px;
    padding: 9px 15vw;
    text-decoration: none;
    outline: none;
  }

  .submitGen:hover,.submitFeed:hover{
      background-color: #a1865b;
      cursor: pointer;
      transition: 0.5s ease 0s;
  }

  #msgGen
  {
    display: none;
  }
  #msgFeed
  {
    display: none;
  }


  @media screen and (max-width: 640px) {
    .hidden {
      display: block;
      height: 1vh;
    }
  }