* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }

  html,
  body {
    height: 100%;
  }
  #temp0 {
    display: block;
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: radial-gradient(ellipse at bottom, #1a2737 0%,#09090a 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: rgb(240, 240, 240);
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: #122a3d;
    font-family: "poppins", sans-serif;
  }

  .logo {
    color: rgb(240, 240, 240);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
  }

  .logo a {
    color: rgb(240, 240, 240);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
    font-size: 20px;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    z-index: 1;
  }
  .nav-links li {
    list-style: none;
  }
  .nav-links a {
    color: rgb(240, 240, 240);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  .burger {
    display: none;
    cursor: pointer;
    z-index: 1;
  }
  .burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(240, 240, 240);
    margin: 5px;
    transition: all 0.3s ease;
  }

  @media screen and (min-width: 769px) {
    .nav-links a {
      align-self: auto;
      letter-spacing: 3px;
      padding: 9px 25px;
    }

    .nav-links a:hover{
        cursor: pointer;
        transition: 0.5s ease 0s;
    }
    .logout{
        background-color: transparent;
        align-self: auto;
        color: #a1865b;
        border: 0px solid transparent;
        padding: 0px 25px;
        font-family: "poppins", sans-serif;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .logout:hover{
        cursor: pointer;
        transition: 0.5s ease 0s;
    }
    .left{
      display: block;
      position: relative;
      width: 40%;
      float: left;
    }
    .right{
      display: block;
      position: relative;
      width: 40%;
      float: right;
      text-align: left;
    }
  }

  @media screen and (max-width: 1024px) {
    .nav-links {
      width: 60%;
    }
    .left{
      display: block;
      position: relative;
      width: 100%;
    }
    .right{
      display: block;
      position: relative;
      width: 100%;
      padding-left: 5vw;
      text-align: left;
    }
  }

  @media screen and (max-width: 768px) {
    body {
      overflow-x: hidden;
    }
    .nav-links {
      position: fixed;
      right: 0;
      height: 100vh;
      top: 0;
      background-color: #122a3d;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 48%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
      text-align: center;
      padding-bottom: 20px;
    }
    .nav-links li {
      opacity: 0;
    }
    .burger {
      display: block;
    }
    .logout{
        background-color: transparent;
        align-self: auto;
        color: rgb(240, 240, 240);
        border: 0px solid transparent;
        padding: 0px 25px;
        font-family: "poppins", sans-serif;
        text-decoration: none;
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 3px;
    }
    .logout:hover{
        cursor: pointer;
        transition: 0.5s ease 0s;
    }
    .left{
      display: block;
      position: relative;
      width: 100%;
    }
    .right{
      display: block;
      position: relative;
      width: 100%;
    }
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .content {
    flex: 1 0 auto;
    padding: 20px;
    font-family: "poppins", sans-serif;
    display: inline;
    justify-content: center;
  }

  .host{
    color: rgb(240, 240, 240);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
  }
  .host a {
    color: rgb(240, 240, 240);
    align-self: auto;
    border: 1px solid  #a1865b;
    border-radius: 50px;
    letter-spacing: 3px;
    text-decoration: none;
  }

  .host a:hover{
      background-color: #a1865b;
      cursor: pointer;
      transition: 0.5s ease 0s;
  }


  .heading{
    font-size: 24px;
    text-align: center;
  }

  .heading button {
    font-family: "poppins", sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    background-color: transparent;
    color: rgb(240, 240, 240);
    align-self: auto;
    border: 1px solid  #a1865b;
    border-radius: 50px;
    letter-spacing: 3px;
    padding: 9px 40px;
    text-decoration: none;
    outline: none;
  }

  .heading button:hover{
      background-color: #a1865b;
      cursor: pointer;
      transition: 0.5s ease 0s;
  }

  .general{
    padding: 5vh;
    text-align: center;
    margin-top: 1vh;
    display: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 20px;
  }
  .feedback{
    padding: 5vh;
    text-align: center;
    margin-top: 1vh;
    display: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
    font-size: 20px;
  }
  .hidden{
    display: none;
  }

  .sub-content{
    flex: 1 0 auto;
    width: 100%;
    margin: 0 auto;
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(190, 190, 190);
    font-family: "poppins", sans-serif;
    overflow: auto;
  }
  .sub-content h3{
    margin-top: 0;
    font-weight: 200;
    color: rgb(240, 240, 240);
  }
  .sub-content h4{
    margin-top: 0;
    font-weight: 200;
    color: rgb(240, 240, 240);
  }
  .sub-content label{
    display: block;
    text-align: left;
    color: rgb(240, 240, 240);
    font-size: 14px;
  }

  .fLeft {
    float:left;
    text-align: left;
  }
  .answer {
    width: 100%;
    padding: 10px 25px;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 4px 4px;
  }
  .account-name {
    position: relative;
    font-family: sans-serif;
    font-size: 110%;
    font-weight: bold;
  }
  .responseBlock {
    position: relative;
    border-style: dotted;
    border-width: 1px;
    padding: 5px;
  }
  .respDiv {
    position: relative;
    float:left;
  }
  .response {
    position: relative;
    display: inline;
    vertical-align: bottom;
  }
  .is-edited {
    position: relative;
    font-size: small;
    color: #888;
    vertical-align: bottom;
    display: inline;
  }
  .mood-value {
    position: relative;
    float:right;
  }
  .time-updated {
    position: relative;
    font-size: x-small;
  }

  .activateForm {
    font-family: "poppins", sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    background-color: transparent;
    color: rgb(240, 240, 240);
    align-self: auto;
    border: 1px solid  #a1865b;
    border-radius: 50px;
    letter-spacing: 3px;
    padding: 9px 15vw;
    text-decoration: none;
    outline: none;
  }
  .activateForm:hover{
      background-color: #a1865b;
      cursor: pointer;
      transition: 0.5s ease 0s;
  }

  .msgFeed
  {
    display: none;
  }
  .emoji
  {
    position: relative;
    float: left;
    width: 100%;
    font-size: x-large;
    text-align: left;
  }
  .emojiImg
  {
    position: relative;
    text-align: left;
    display: block;
  }
  .invite-code
  {
    position: relative;
    text-align: left;
    display: block;
  }

  .footer {
    flex-shrink: 0;
    min-height: 15vh;
    background: #122a3d;
    font-family: "poppins", sans-serif;
  }
  .footer .footer-content {
    display: flex;
    padding: 7vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(240, 240, 240);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
  }
